<div id="about">
  <h2>About Me</h2>
  <p>
    In 2019, I started pursuing my Bachelor’s degree for computer science at
    U.C. Santa Cruz. I admit I wasn’t sure where to take my career at first. I
    was a “late bloomer” in my class. I met people who already an eye for a
    certain field, but I was still figuring myself out, even two years later.<br
    /><br />

    In 2022, I enrolled into a Full Stack Applications class, which is where my
    interest in web development began. I picked up HTML/CSS and JavaScript quick
    and I came to love building web apps from the ground up. I never realized
    the intricacies of how websites create various design elements and
    interactions. I enjoyed every moment of developing each of my assignments
    and this made me realize that I wanted to be a web developer.<br /><br />

    After graduating in 2023, I started working as a computer technician, and on
    the side, I developed a variety of projects. However, I wanted to work on a
    project on a larger scale. That’s when I was introduced to Develop for Good,
    an organization that allows students and new grads to volunteer creating
    applications for non-profit organizations.<br /><br />

    As of writing this, in 2025, me and my team are nearing the end of the
    development phase of Concordia, an app to help coordinate organizations in
    the Dominican Republic to provide aid to multiple impoverished communities.
  </p>
</div>

<style>
  #about {
    position: absolute;
    background-color: #272626;
    padding: 25px;
    max-width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
  }

  h2 {
    margin: 0;
    color: white;
    font-family: "Kodchasan", serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    color: white;
    font-family: "Kodchasan", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
  }
</style>
