<div id="cloud">
    
</div>

<style>
    #cloud {
      position: absolute;
      top: 0;
      left: 100vw; /* Start outside the viewport */
      width: 150px;
      height: 100px;
      background-color: #1A191F;
      border-radius: 60px;
      opacity: 0.8;
      animation: moveCloud 10s linear infinite;
    }
</style>