---
const { top, left, animationDuration } = Astro.props;

// Generate a random starting offset between -100vw and 100vw
const startX = Math.random() * 200 - 100 + "vw"; 
const animationDelay = Math.random() * 10 + "s"; 
---

<div 
  class="cloud" 
  style={`--start-x: ${startX}; --animation-duration: ${animationDuration}; top: ${top}; left: ${left};`}
></div>

<style>
  .cloud {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 60px;
    opacity: 0.8;
    animation: moveCloud var(--animation-duration, 50s) linear infinite;
    transform: translateX(var(--start-x));
    z-index: 1;
  }

  @keyframes moveCloud {
    from {
      transform: translateX(var(--start-x)); /* Start at a random position */
    }
    to {
      transform: translateX(-100vw); /* Move off the left side */
    }
  }
</style>
