<nav id="navbar">
  <a id="nav-item"> home </a>
  <a id="nav-item"> about </a>
  <a id="nav-item"> experience</a>
  <a id="nav-item"> projects </a>
</nav>

<style>
  #navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    top: 5%;
    color: white;
    font-family: "Kodchasan", serif;
    font-size: 1.5rem;
    font-weight: 400;
    max-height: 10%;
  }
</style>
