---
import { getCollection } from "astro:content"

type Props = {
  stack: CollectionEntry<'stack'>;
};

const { stack } = Astro.props;
---

<div id="tags">
  {stack.join(", ")}
</div>

<style>
  #tags {
    font-size: 14px;
    font-family: "Kodchasan", serif;
    color: rgb(155, 155, 155);
  }
</style>