<nav class="navbar">
  <a class="nav-item">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 640"
        ><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path
          d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"
        ></path>
      </svg>
    <!-- <span class="label">Home</span> -->
  </a>
  <a class="nav-item">
    <svg
        class="icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 640"
      ><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
      <path
        d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"
      ></path>
    </svg>
    <!-- <span class="label">Home</span> -->
  </a>
  <a class="nav-item">
    <svg
        class="icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 640"
      ><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
      <path
        d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"
      ></path>
    </svg>
    <!-- <span class="label">Home</span> -->
  </a>
</nav>

<style>
  .navbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem 0;
    width: 70px;
    background: #1a1a1a;
    border-radius: 0 1rem 1rem 0;
    transition: width 0.3s ease;
    z-index: 1000;
  }
 
  .navbar:hover {
    width: 180px;  
   }

  .nav-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    left: 0px;
    cursor: pointer;
    color: white;
  }
   /* highlight effect (inset, not full width) 
   .nav-item::before {
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    top: 8px;
    bottom: 8px;
    border-radius: 0.5rem;
    background: #333;
    opacity: 1;
    transform: scaleX(0.8);
    transition: all 0.25s ease;
    z-index: 0;
  } */

  /* .nav-item:hover::before {
    opacity: 1;
    transform: scaleX(1);
  } */

  .icon {
    fill: white;
    display: flex;
    justify-content: center;
    transition: fill 0.2s ease;
    z-index: 1;
    width: 60px;
    opacity: 100%;
  }

  .nav-item:hover .icon {
    opacity: 80%;
  }

  /* .label {
    margin-left: 1rem;
    opacity: 0;
    transform: translateX(-10px);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      color 0.2s ease;
    white-space: nowrap;
    color: white;
    z-index: 1;
  } */

  /* .nav-item:hover .label {
    opacity: 1;
    transform: translateX(0);
    color: #4ade80;
  }  */
</style>
